.App {
  text-align: center;
  position: relative;
}

.Board {
  margin: auto;
  display: table;
}

.Button {
  display: inline-block;
  text-align: center;
  background-color: #008873;
  border-color: #008873;
  color: #ffffff;

  font-size: 1.6em;
  padding: 10px 16px;
  border: solid 1px #c5d1d8;
  border-radius: 2em;
}

.Button:hover {
  color: #008873;
  border: solid 1px #008873;
  background-color: #ffffff;
}

.Square {
  background: #fff;
  border: 3px solid #008873;
  float: left;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.Square:focus {
  outline: none;
}

/* helper class */
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-size: 1.6em;
  line-height: 1.5;
  margin: 50px auto 10px;
}

.win {
  transform: scale(1.2);
}

.gone {
  display: none !important;
}

